.playerlisticon {
	width: 30px;
	height: 30px;
}

.startgamebtn {
	visibility: hidden;
}

.card {
	height: 200px;
	width: 100px;
	background-image: url(../../assets/cardBackBlue.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 10px;
	/* can you see this */
}

.community-cards {
	background-image: url(../../assets/cardBackRed.png);
}
::-webkit-scrollbar {
	display: none;
}

.chat-history {
	/* max-height: 250px; */
	/* max-width: 250px; */
	width: 10em;
	height: 10em;
	border: 3px solid silver;
	border-radius: 15px;
	padding: 15px;
	overflow: scroll scroll;
}
[class*="cards-container"] {
	display: flex;
	flex-direction: row;
}
