main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#roulette-spinner {
	transition: transform 5s ease-out;
	user-select: none;
}

.roulette {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.top-board {
	margin-top: 5.5em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.roulette-betting-board {
	display: flex;
	flex-direction: column;
}

.main-board {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column-reverse;
}

.square {
	user-select: none;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	color: white;
	border: 2px solid white;
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

.square:hover {
	border-color: orange;
}

.red {
	background-color: red;
}

.black {
	background-color: black;
}

.zero {
	height: 8em;
	line-height: 8em;
	background-color: green;
	border-radius: 15px 0px 0px 15px;
}

.outside-base-bets {
	margin-left: calc(2.5em + 4px);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-right: 44px;
}

.outside-bet-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
}

.dozen-bet {
	grid-column: span 2;
	text-align: center;
}

.square-outside {
	width: auto;
	height: 2.5em;
	line-height: 2.5em;
	color: white;
	border: 2px solid white;
	text-align: center;
}

.square-outside:hover {
	border-color: orange;
}

.top-right-rounded {
	border-top-right-radius: 15px;
}

.bottom-left-rounded {
	border-bottom-left-radius: 15px;
}

.bottom-right-rounded {
	border-bottom-right-radius: 15px;
}

.highlighted {
	border-color: orange;
}
.bet-on {
	background-color: pink;
}
@media (max-width: 1100px) {
	#roulette-spinner {
		height: 15em;
	}
}

@media (max-width: 820px) {
	.roulette {
		flex-direction: column;
	}
}
